
body {
    font-family: Arial, sans-serif;
}

.items-pane {
    display: flex;
    flex-direction: row;
}

.items_list li {
    list-style-type: none;
    /*border-bottom: 1px solid black;*/
}

.items_list li div {
    padding: 10px;
    background-color: #f4f3f0;
    border-radius: 8px;
}

.account_item {
    background-color: #f4f3f0;
    border-radius: 8px;
    padding: 15px;
    max-width: available;
}

.items_list {
    flex-grow: 1;
}

form input,
form button,
form select,
form textarea {
    display: block;
    margin-bottom: 5px;
}

#add-item-to-catalog {
    position: fixed;
}

.accounts_list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 0fr));
    gap: 20px;
    padding: 10px;
}