
#cart-summary {
    margin-top: 0px;
}

.order-summary-list {
    margin: 0px;
    padding: 0px;
}

.order-summary-list li {
    list-style-type: none;
}

.order-summary-item {
    margin-bottom: 10px;
}

.order-name-price-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.order-summary-item{
    display: block;
}

.order-summary-item p {
    margin: 0px;
}

.order-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}