body {
    font-family: Arial, sans-serif;
}

.items-pane {
    display: flex;
}

.items_list li {
    list-style-type: none;
}

.catalog_list, .cart_list{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    padding: 10px;
}

.catalog_item, .cart_item {
    background-color: #f4f3f0;
    border-radius: 8px;
    padding: 15px;
}

#item_name {
    margin-top: 0px;
}

#item_quant {
    width: 42px;
}

#quant_label {
    margin-right: 8px;
}

#quant_option {
    display: flex;
    justify-content: space-between;
}

#remove_item #add_item {
    position: absolute;
    right: 10px;
}

#price_stock {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.order-item-price {
    display: inline-block;
    margin-left: auto;
    flex-wrap: nowrap;
    color: gray;
}

#item_price {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    padding: 0;
    width: max-content;
    flex-wrap: nowrap;
    border: none;
}

#item_stock {
    display: inline-block;
    margin-left: auto;
    flex-wrap: nowrap;
    color: gray;
}

.disabled {
    color: grey;
}