body {
    font-family: Arial, sans-serif;
}

.orders-history-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.order-number-date {
    padding: 5px;
}

.order-history-item:hover .order-number-date {
    background-color: #111;
    color: white;
}

.order-history-item.active:hover .order-number-date {
    background-color: #111;
    color: white;
}

.order-history-item.active .order-number-date {
    background-color: #585652;
    color: white;
}

.order-history-item.active .order-summary {
    margin-top: 10px
}

.divider {
    border-bottom: 1px solid lightgrey;
    margin: 5px;
}

#item_quant {
    font-size: inherit;
    appearance: none;
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
}

.order-summary-list {
    margin: 0px;
    padding: 0px;
}

.order-summary-list li {
    list-style-type: none;
}

.order-summary-item {
    margin-bottom: 10px;
}

.order-name-price-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.order-summary-item{
    display: block;
}

.order-summary-item p {
    margin: 0px;
}

.order-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-item-price {
    display: inline-block;
    margin-left: auto;
    flex-wrap: nowrap;
    color: gray;
}

.order-number-date {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.order-date {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-id {
    display: inline-block;
    margin-left: auto;
    flex-wrap: nowrap;
}
